<!-- TAD"S DAY TWO HOMEWORK HTML PROJECT -->*/

h1, h2, h3, h4, h5, h6, span {
	font-family: 'Oswald', 'PT Sans', 'Asap', 'PT Sans Narrow', sans-serif;
}

body {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	z-index: 1;
}

body * {
	vertical-align: top;
}

/*<!-- HEADER CONTAINER STARTS -->*/
/*<!-- LEFT & RIGHT COLUMNS CREATED -->*/

.container-home {
	background-image: url("http://3.bp.blogspot.com/-qH8euG_izR8/Tj1MURNNHsI/AAAAAAAAAQA/OlUZ-y5b1fg/s1600/Awesomely+-+Ocean+waves.jpg") ;
	height: 523px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.overlay {
	background: rgba(17,117,192,0.8 );
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.inside {
	position: relative;
	width: 989px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

.nav {
	height: 224px;
	color: #083541;
}

.left span {
	text-align: left;
	float: left;
	padding-top: 10px
}

.leftside span {
	text-align: left;
	float: left;
	font-size: 19px;
	font-family: 'PT Sans Narrow';
	padding-left: 13px;
	padding-top: 22px;
}

.rightside span img {
	text-align: right;
	float: right;
	height: 18px;
	padding-top: 23px;
}

.right span {
	text-align: right;
	float: right;
	padding-left: 10px; 
	font-size: 19px;
	font-family: 'Oswald';
	padding-right: 3px;
	padding-top: 18px;
}

.maintitle span {
	color: #ffffff;
	font-size: 106px;
	letter-spacing: -1.7px;
	font-family: 'PT Sans';
	line-height: 84%;
}

.tagline span {
	color: #083452;
	letter-spacing: 0.1px;
	font-size: 17px;
	font-family: 'PT Sans';
	line-height: 129%;
}

/*<!-- HEADER CONTAINER ENDS -->*/
/*<!-- LEFT & RIGHT COLUMNS ARE DEFINED -->*/

.main-content {
	width: 989px;
	height: auto;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
}

.leftbar {
	text-align: left;
	display: inline-block;
	width: 70%;
	padding-top: 13px;
}

.left-a span {
	color: #083452;
	letter-spacing: 0.1px;
	line-height: 112%; 
	font-size: 63px;
	font-family: 'Oswald';
}

.left-b {
	display: inline;
	float: left;
	position: relative;
}

.left-b img {
	float: none;
	height: 24px;
	width: 24px;
	padding-top: 5px;
	padding-right: 9px;
}

.left-c {
	display: inline-block;
	float: left;
	padding-top: 6px;
	padding-right: 17px;
}

.left-c p {
	color: #106db3;
	font-size: 14px;
	letter-spacing: -0.4px;
	font-family: 'Asap';
	float: left;	
	line-height: 0px;
}

.left-d {	
	display: inline-block;
	float: left;
	padding-top: 6px;
}

.left-d p {
	color: #a3b3bf;
	font-size: 14px;
	font-family: 'PT Sans';
	line-height: 0px;
}

.left-d a {
	color: #a3b3bf;
	font-size: 14px;
	font-family: 'PT Sans';
}

/*<!-- LEFTBAR ARTICLE TEXT STARTS -->*/

.article-text {
	width: 90%;
	height: auto;
	float: left;
	color: #5e686f;
	text-align: left;
	font-family: 'Asap';
	letter-spacing: -0.5px;
	line-height: 163%;
}

.left-e {
	padding-top: 13px;
}

.left-e p {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.left-f {
	padding-top: 10px;
	margin-bottom: 0px;
}

.left-f a {
	color: #a3b3bf;
}

.vertical-line {
	width: 2px;
	background-color: #d3d3d3;
	height: 56px;
	position: inline;
	float: left;
	margin-left: 5px;
	margin-right: 18px;
	margin-top: 4px;
}

.left-h p {
	position: relative;
	color: #106db3;
	letter-spacing: 0.1px;
	font-size: 29px;
	font-family: 'PT Sans';
	padding-top: 11px;
	padding-bottom: 9px;
}

.left-i {
	padding-top: 0px;
	margin-top: 0px;
}

.left-i a {
	color: #106db3;
}

.left-i p {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.left-j {
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 19px;
}

/*<!-- LEFTBAR ARTICLE TEXTS ENDS -->*/
/*<!-- COMMENT BUTTONS START -->*/

.rack div {
	display: inline;
	position: relative;
}


.racks div {
	float: left;
	position: relative;
	display: inline;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

.image-a img {
	float: left;
	position: relative;
	display: inline;
	margin-left: 0px;
	margin-top: 0px;
}

.image-a div {
	display: inline;
	height: 30px;
}

.rack-a p {
	float: left;
	position: relative;
	display: inline;
	background: #a3b3bf;
	height: 30px;
	width: 125px;
	color: #ffffff;
	text-align: center;
	font-family: 'Asap';
	letter-spacing: 0px;
	line-height: 30px;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 10px;
}

.image-b img {
	float: left;
	position: relative;
	display: inline;
	margin-left: 0px;
	margin-top: 0px;
}

.rack-b p {
	float: left;
	position: relative;
	display: inline;
	background: #a3b3bf;
	height: 30px;
	width: 95px;
	color: #ffffff;
	text-align: center;
	font-family: 'Asap';
	letter-spacing: 0px;
	line-height: 30px;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 10px;
}

.image-c img {
	float: left;
	position: relative;
	display: inline;
	margin-left: 0px;
	margin-top: 0px;
}

.rack-c p {
	float: left;
	position: relative;
	display: inline;
	background: #106db3;
	height: 30px;
	width: 121px;
	color: #ffffff;
	text-align: center;
	font-family: 'Asap';
	letter-spacing: 0px;
	line-height: 30px;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 10px;
}
/* =========================== */
/*<!-- COMMENT BUTTONS END -->*/
/*<!-- LEFTBAR ENDS -->*/
/*<!-- RIGHTBAR STARTS -->*/
/* =========================== */

.rightbar {
	text-align: center;
	display: inline-block;
	width: 29%;
	padding-top: 33px;
	position: relative;
}

.social-a span {
	float: center;
}

.social-b {
	margin-top: 12px;
}

.social-b span {
	color: #106db3;
	letter-spacing: 0.1px;
	font-size: 17px;
	font-family: 'PT Sans';
}

.social-c span {
	color: #a3b3bf;
	letter-spacing: 0.2px;
	font-size: 14px;
	font-family: 'PT Sans';
}

.content-a {
	margin-top: 50px;
	float: center; 	
}

.content-b {
	margin-top: 6px;
	float: center;
	text-align: right;	
}

.content-b a {
	color: #a3b3bf;
	font-size: 14px;
	font-family: 'PT Sans';
}

.content-c {
	margin-top: 39px;
	float: center;
	text-align: left;
	margin-bottom: 4px;
}

.content-c span {
	color: #106db3;
	font-size: 18px;
	letter-spacing: -0.2px;
	font-family: 'Oswald';
}

.content-d {
	color: #a3b3bf;
	text-align: left;
}

.content-d span {
	font-family: 'Asap';
	font-size: 14px;
	letter-spacing: -0.2px;
	line-height: 175%;
}
/*<!-- RIGHTBAR ENDS -->*/
/*<!-- LOWER CONTENT FOOTER STARTS -->*/

.lower-content {
	height: auto;
	margin: 0 auto;
	position: relative;
	margin-top: 54px;
}

.horizontal-line {
	margin: 0 auto;
	background-color: #e1e7ea;
	height: 1px;
	width: 100%;
}

.news div {
	height: 1px;
	margin: 0 auto;
}

.news {
	text-align: center;
	color: #083452;
	letter-spacing: 0.1px;
	line-height: 112%; 
	font-size: 63px;
	font-family: 'Oswald';
	height: 83px;
	line-height: 25%;
	margin: 0 auto;
}

/*<!-- LOWER 4 PICTURE FOOTER STARTS -->*/

.inside-2 {
	margin: 0 auto;
	height: 330px;
}

.box {
	background-size: cover;
	float: left;
	position: relative;
	width: 25%;
	height: 330px;
	color: #FFFFFF;
}
	
.one {
	background-image: url("http://s3.favim.com/orig/41/boy-guy-surf-surfer-surfing-Favim.com-344177.jpg") ;
}

.two {
	background-image: url("http://pigpartsandbeer.com/wp-content/uploads/2013/07/beer-flight.jpg-.jpg") ;
}

.three {
	background-image: url("http://www.camelcitydispatch.com/wp-content/uploads/2014/01/zach_galifianakis_wallpaper.jpg") ;
}

.four {
	background-image: url("http://fcdn.mtbr.com/attachments/arizona/708000d1341343958-really-cool-video-sedona-mountain-biking-ranger.jpg") ;
}

.overlay-2 {
	background: rgba(17,117,192,0.75 );
	height: 330px;
	color: #083452;
	position: relative;
}

.overlay-2:hover {
	background: none;
	color: #ffffff;
}

.overlay-2 span {
	position: absolute;
	letter-spacing: 0.1px; 
	font-size: 30px;
	font-family: 'Oswald';
	line-height: 124%;
	margin-left: 19px;
	margin-right: 20px;
	position: absolute;
	bottom: 15px;
}

/*<!-- VERY BOTTOM FOOTER STARTS -->*/

.bottom {
	float: left;
	position: relative;

}
.bottom div {
	margin: 0 auto;

}

.bottom-a div { 
	margin: 0 auto;
	float: center;
}

.bottom-a {
	background: #083452;
	height: 97px;
	width: 100%;
	margin: 0 auto;
	display: inline;
	float: left;
	color: #a3b3bf;
	font-family: 'Asap';
	letter-spacing: 0px;
	line-height: 163%;
	font-size: 14px;
}

.pic-a img {
	float: left;
	position: relative;
	display: inline;
	margin-left: 165px;
	margin-top: 27px;
}

.text-a p {
	float: left;
	position: relative;
	display: inline;
	margin-left: 11px;
	margin-top: 36px;
}

.text-b p {
	float: right;
	position: relative;
	display: inline;
	margin-right: 164px;	
	margin-top: 36px;
	letter-spacing: 0.4px;
}

/*<!-- INSIDE-2 ENDS -->*/
/*<!-- TOP FOOTER ENDS -->*/
/*<!-- CONTAINTER-3 ENDS -->*/
/*<!-- BODY ENDS -->